# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# =========================
# Variables de entorno
# =========================
.env
*.env

# =========================
# IDE
# =========================
.idea/

# =========================
# Angular / Node
# =========================
node_modules/
dist/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db